<!doctype html>
<html class="no-js h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>YB Bank - 금 거래 시스템 (리스트)</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="styles/extras.1.1.0.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    
    <!-- jquery를 사용하기 위한 작성 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- 유효성 검사 (수량 입력, 입력이 되었으면 주문완료) -->
	<script>
		$(document).ready(function(){
			$('#loginButton').click(function(){
					if($('#clientId').val().length<1){
						$('#clientId').attr('placeholder','ID를 입력해주세요.');
						$('#clientId').focus();
						return false;
					}else if($('#clientPw').val().length<1){
						$('#clientPw').attr('placeholder','PW를 입력해주세요.');
						$('#clientPw').focus();
						return false;
					}else {
						$('#login').submit();
					}
			});
		});
    </script>
    
  </head>
  <body class="h-100">
    <div class="container-fluid">
      <div class="row">
<!-- Main Sidebar 상단 -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" th:href="@{/index}" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="images/shards-dashboards-logo.svg" alt="Shards Dashboard">
                  <span class="d-none d-md-inline ml-1">YB Bank</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for Stock" aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/index">
                  <i class="material-icons">dashboard</i>
                  <span>메인</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/userOrderList">
                  <i class="material-icons">bar_chart</i>
                  <span>시세 정보</span>
                </a>
              </li>
              <th:block th:if="${session.clientId != null}">
              <li class="nav-item">
                <a class="nav-link" href="/mypage">
                  <i class="material-icons">person</i>
                  <span>마이 페이지</span>
                </a>
              </li>
             </th:block> 
            </ul>
          </div>
        </aside>
<!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
<!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
<!-- 상단 검색창 주석처리 -->
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <!-- <i class="fas fa-search"></i> -->
                    </div>
                  </div>
                  <!-- <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> --> 
                 </div>
              </form>
              <ul class="navbar-nav border-left flex-row ">
<!-- 마이페이지 및 로그아웃 선택창 (시작)-->
			<th:block th:if="${session.clientId == null}">
				<li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle dropdown-item text-nowrap px-3" data-toggle="modal" data-target="#loginModal" th:href="@{/login}" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" src="images/avatars/1.jpg" alt="User Avatar">
                    <span class="d-none d-md-inline-block">로그인</span>
                  </a>
                </li>
			</th:block>
			<th:block th:unless="${session.clientId == null}">
<!-- 알람창 (시작)-->
              <li class="nav-item border-right dropdown notifications">
                <a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="nav-link-icon__wrapper">
                    <i class="material-icons">&#xE7F4;</i>
                    <span class="badge badge-pill badge-danger">2</span>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">
                    <div class="notification__icon-wrapper">
                      <div class="notification__icon">
                        <i class="material-icons">&#xE6E1;</i>
                      </div>
                    </div>
                    <div class="notification__content">
                      <span class="notification__category">분석</span>
                      <p>순금의 가격이 전일에 비해 47,387 약(
                        <span class="text-success text-semibold">4.7% 상승</span> ) 하였습니다.</p>
                    </div>
                  </a>
                  <a class="dropdown-item" href="#">
                    <div class="notification__icon-wrapper">
                      <div class="notification__icon">
                        <i class="material-icons">&#xE8D1;</i>
                      </div>
                    </div>
                    <div class="notification__content">
                      <span class="notification__category">가격 감소</span>
                      <p>14K의 가격이 전일에 비해 42,837 약(
                        <span class="text-danger text-semibold">3.8% 감소</span> ) 하였습니다. 지금 구매하세요!</p>
                    </div>
                  </a>
                  <a class="dropdown-item notification__all text-center" href="/userOrderList"> 시세 정보 보기 </a>
                </div>
              </li>
<!-- 알람창 (종료)-->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" src="images/avatars/0.jpg" alt="User Avatar">
                    <span class="d-none d-md-inline-block"><th:block th:text="${session.clientName} + '님'"></th:block></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-small">
                    <a class="dropdown-item" th:href="@{/mypage(clientId=${session.clientId})}">
                      <i class="material-icons">&#xE7FD;</i> 마이페이지</a> 
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" th:href="@{/logout}">
                      <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                  </div>
                </li>
			</th:block>
<!-- 마이페이지 및 로그아웃 선택창 (종료)-->
              </ul>
            </nav>
          </div>
			<div class="main-content-container container-fluid px-4">
<!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">item list</span>
                <h3 class="page-title">품목 리스트</h3>
              </div>
            </div>
<!-- End Page Header -->
<!-- 품목 리스트 5개 시작 -->
            <div class="row">
     <!-- 금 품목 -->
              <div class="col">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
                  <!-- 품목 상단 (시작) -->
                    <div class="input-group-append">
                    	<h6 class="m-0" style="width : 80%">순금</h6>
                    	<a th:href="@{/userOrder(itemCode=300, orderPay=194500, itemName=순금)}">
                    	<th:block th:if="${session.clientId != null}">
                    	<button type="button" class="btn btn-blue btn-pill btn-outline-primary" id="accountCheck" th:value="${session.accountCheck}">구매</button>
                    	</th:block>
                    	</a>
                    </div>
                  <!-- 품목 상단 (끝) -->
                  </div>
                  <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col" class="border-0">#</th>
                          <th scope="col" class="border-0">날짜</th>
                          <th scope="col" class="border-0">가격</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>2019.02.26</td>
                          <td>196,500</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>2019.02.25</td>
                          <td>198,000</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>2019.02.23</td>
                          <td>198,000</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>2019.02.22</td>
                          <td>196,000</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>2019.02.21</td>
                          <td>196,000</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>2019.02.20</td>
                          <td>195,500</td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td>2019.02.19</td>
                          <td>194,500</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
               </div>
       <!-- 18K 품목 -->
               <div class="col">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">    
              <!-- 품목 상단 (시작) -->
                 <div class="input-group-append">
                 	<h6 class="m-0" style="width : 80%">18K</h6>
                 	<a th:href="@{/userOrder(itemCode=200, orderPay=160500, itemName=18K)}">
                 	<th:block th:if="${session.clientId != null}">
                 	<button type="button" class="btn btn-blue btn-pill btn-outline-primary" id="accountCheck" th:value="${session.accountCheck}">구매</button>
                 	</th:block>
                 	</a>
                 </div>
               <!-- 품목 상단 (끝) -->
                  </div>
                  <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col" class="border-0">#</th>
                          <th scope="col" class="border-0">날짜</th>
                          <th scope="col" class="border-0">가격</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>2019.02.26</td>
                          <td>194,500</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>2019.02.25</td>
                          <td>195,500</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>2019.02.23</td>
                          <td>196,000</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>2019.02.22</td>
                          <td>196,000</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>2019.02.21</td>
                          <td>198,000</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>2019.02.20</td>
                          <td>198,000</td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td>2019.02.19</td>
                          <td>196,500</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
       <!-- 14K 품목 -->
              <div class="col">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
              <!-- 품목 상단 (시작) -->
                 <div class="input-group-append">
                 	<h6 class="m-0" style="width : 80%">14K</h6>
                 	<a th:href="@{/userOrder(itemCode=100, orderPay=25000, itemName=14K)}">
                 	<th:block th:if="${session.clientId != null}">
                 	<button type="button" class="btn btn-blue btn-pill btn-outline-primary" id="accountCheck" th:value="${session.accountCheck}">구매</button>
                 	</th:block>
                 	</a>
                 </div>
               <!-- 품목 상단 (끝) -->
                  </div>
                  <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col" class="border-0">#</th>
                          <th scope="col" class="border-0">날짜</th>
                          <th scope="col" class="border-0">가격</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>2019.02.26</td>
                          <td>160,500</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>2019.02.25</td>
                          <td>161,300</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>2019.02.23</td>
                          <td>126,200</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>2019.02.22</td>
                          <td>126,200</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>2019.02.21</td>
                          <td>127,500</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>2019.02.20</td>
                          <td>127,500</td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td>2019.02.19</td>
                          <td>126,500</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
               </div>
       <!-- 은 품목 -->
              <div class="col">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
              <!-- 품목 상단 (시작) -->
                 <div class="input-group-append">
                 	<h6 class="m-0" style="width : 80%">은</h6>
                 	<a th:href="@{/userOrder(itemCode=20, orderPay=2380, itemName=은)}">
                 	<th:block th:if="${session.clientId != null}">
                 	<button type="button" class="btn btn-blue btn-pill btn-outline-primary" id="accountCheck" th:value="${session.accountCheck}">구매</button>
                 	</th:block>
                 	</a>
                 </div>
               <!-- 품목 상단 (끝) -->
                  </div>
                  <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col" class="border-0">#</th>
                          <th scope="col" class="border-0">날짜</th>
                          <th scope="col" class="border-0">가격</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>2019.02.26</td>
                          <td>2,380</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>2019.02.25</td>
                          <td>2,380</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>2019.02.23</td>
                          <td>2,380</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>2019.02.22</td>
                          <td>2,400</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>2019.02.21</td>
                          <td>2,400</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>2019.02.20</td>
                          <td>2,380</td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td>2019.02.19</td>
                          <td>2,340</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
               </div>
        <!-- 백금 품목 -->
              <div class="col">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
             <!-- 품목 상단 (시작) -->
                 <div class="input-group-append">
                 	<h6 class="m-0" style="width : 80%">백금</h6>
                 	<a th:href="@{/userOrder(itemCode=50, orderPay=128000, itemName=백금)}">
                 	<th:block th:if="${session.clientId != null}">
                 	<button type="button" class="btn btn-blue btn-pill btn-outline-primary" id="accountCheck" th:value="${session.accountCheck}">구매</button>
                 	</th:block>
                 	</a>
                 </div>
               <!-- 품목 상단 (끝) -->
                  </div>
                  <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col" class="border-0">#</th>
                 		  <th scope="col" class="border-0">날짜</th>
                          <th scope="col" class="border-0">가격</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>2019.02.26</td>
                          <td>128,000</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>2019.02.25</td>
                          <td>127,800</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>2019.02.23</td>
                          <td>127,700</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>2019.02.22</td>
                          <td>127,700</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>2019.02.21</td>
                          <td>127,900</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>2019.02.20</td>
                          <td>128,900</td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td>2019.02.19</td>
                          <td>128,600</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
               </div>
        <!-- 품목 끝 -->
            </div>
<!-- 품목 리스트 5개 끝 -->
<!-- Page Header -->
		<th:block th:if="${session.clientId != null}">
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Recent purchases</span>
                <h3 class="page-title">최근 구매 내역</h3>
              </div>
            </div>
<!-- End Page Header -->
<!-- 최근 구매 내역 시작 -->		
            <div class="row">
              <div class="col">
                <div class="card card-small overflow-hidden mb-4" >
                  <div class="card-header bg-dark">
                    <h6 class="m-0 text-white">구매 내역</h6>
                  </div>
                  <div class="card-body p-0 pb-3 bg-dark text-center">
                    <table class="table table-dark mb-0">
                      <thead class="thead-dark" >
                        <tr>
                          <th scope="col" class="border-bottom-0">주문 번호</th>
                          <th scope="col" class="border-bottom-0">품명 코드</th>
                          <th scope="col" class="border-bottom-0">구매 개수</th>
                          <th scope="col" class="border-bottom-0">총 금액</th>
                          <th scope="col" class="border-bottom-0">주문 일자</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="orderListRecent : ${orderListRecent}">
                          <td>
                          	<th:block th:text="${orderListRecent.orderNumber}"></th:block>
                          </td>
                          <!-- if문을 이용한 품명 보여주기 -->
                          <th:block th:if="${orderListRecent.itemCode == 300}">
	                          <td>순금</td>
	                      </th:block>
	                      <th:block th:if="${orderListRecent.itemCode == 200}">
	                          <td>18K</td>
	                      </th:block>
	                      <th:block th:if="${orderListRecent.itemCode == 100}">
	                          <td>14K</td>
	                      </th:block>
	                      <th:block th:if="${orderListRecent.itemCode == 20}">
	                          <td>은</td>
	                      </th:block>
	                      <th:block th:if="${orderListRecent.itemCode == 50}">
	                          <td>백금</td>
	                      </th:block>
                          <td>
                          	<th:block th:text="${orderListRecent.orderCount}"></th:block>
                          </td>
                          <td>
                          	<th:block th:text="${orderListRecent.orderPay}"></th:block>
                          </td>
                          <td>
                          	<th:block th:text="${orderListRecent.orderDay}"></th:block>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
<!-- 최근 구매 내역 끝 -->
          </div>
          <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
            <ul class="nav">
              <!-- 
              <li class="nav-item">
                <a class="nav-link" href="#">메인</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">시세 정보</a>
              </li> 
              -->
            </ul>
            <span class="copyright ml-auto my-auto mr-2">Copyright © 2019
              <a href="https://github.com/Mushbird/YBproject" rel="nofollow">YB Project</a>
            </span>
          </footer>
        </main>
      </div>
    </div>
    
	<!-- Login Modal-->
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">LOGIN</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="login" method="post" id="login">
						아이디 : <input type="text" class="form-control" name="clientId" id="clientId"><br>
						비밀번호 : <input type="password" class="form-control" name="clientPw" id="clientPw"><br>
						<input type="button" class="btn btn-primary" id="loginButton" th:value="로그인">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					</form>
				</div>
			</div>
		</div>
	</div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="scripts/extras.1.1.0.min.js"></script>
    <script src="scripts/shards-dashboards.1.1.0.min.js"></script>
    <script src="scripts/app/app-blog-overview.1.1.0.js"></script>
  </body>
</html>