<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yb.banking.mapper.AccountMapper">
	<!-- 계좌 생성 -->	
	<insert id="account"
			parameterType="com.yb.banking.vo.Account">
			INSERT INTO account(
				account_number,
				client_id,
				account_name,
				deposit,
				account_create_branch,
				account_manager
			)
			VALUES(
				(SELECT CONCAT(
						(SELECT 
							branch_code
						FROM branch 
						WHERE branch_name = #{accountCreateBranch}
						),
						(SELECT EXTRACT(
							DAY_SECOND FROM now()
							)
						)
				)
				),
				#{clientId},
				#{accountName},
				#{deposit},
				#{accountCreateBranch},
				#{accountManager}
			)
	</insert>
	<!-- 계좌 갯수 조회 (유효성 검사)-->
	<select id="accountCheck"
			parameterType="String"
			resultType="int">
			SELECT 
				count(*) 
			FROM account 
			WHERE client_id = #{clientId};
	</select>
	<!-- 나의 계좌정보 불러오기 -->
	<select id="accountInformation"
			parameterType="String"
			resultType="com.yb.banking.vo.Account">
			SELECT
				account_number as accountNumber,
				client_id as clientId,
				account_name as accountName,
				deposit,
				account_create_branch as accountCreateBranch,
				account_manager as accountManager
			FROM account 
			WHERE client_id = #{clientId};		
	</select>
</mapper>