<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yb.banking.mapper.BranchMapper">
	<!-- 지점 정보 가져오기(모든) -->
	<select id="branch"
			resultType="com.yb.banking.vo.Branch">
			SELECT 
				branch_code as branchCode,
				branch_name as branchName,
				manager as manager
			FROM
				branch
	</select>
	<!-- 지점 정보 가져오기(하나) -->
	<select id="branchOne"
			parameterType="com.yb.banking.vo.Branch"
			resultType="com.yb.banking.vo.Branch">
			SELECT 
				branch_code as branchCode,
				branch_name as branchName,
				manager as manager
			FROM
				branch
			WHERE
				branch_code = #{branchCode}
	</select>
</mapper>