<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yb.banking.mapper.ClientMapper">
	<!-- 로그인 정보 가져오기 -->
	<select id="login"
			parameterType="com.yb.banking.vo.Client"
			resultType="com.yb.banking.vo.Client">
			SELECT
				client_id as clientId,
				client_name as clientName,
				client_pw as clientPw
			FROM client
			WHERE client_id = #{clientId}
	</select>
	<!-- 고객 정보 가져오기(전체) -->
	<select id="client"
			parameterType="com.yb.banking.vo.Client"
			resultType="com.yb.banking.vo.Client">
			SELECT
				client_id as clientId,
				client_pw as clientPw
				client_name as clientName,
				client_address as clientAddress,
				client_phone as clientPhone,
				branch_code as branchCode,
			FROM client
	</select>	
</mapper>