<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yb.banking.mapper.UserOrderMapper">
	<!-- 주문하기 -->
	<insert id="order"
			parameterType="com.yb.banking.vo.UserOrder">
			INSERT INTO userOrder(
				order_day,
				order_number,
				account_number,
				client_id,
				item_code,
				order_count,
				order_pay 
			)
			VALUES(
				NOW(),
				(SELECT CONCAT(
							(SELECT EXTRACT(
								DAY_SECOND FROM now()
								)
							)
					)
					),
				#{accountNumber},
				#{clientId},
				#{itemCode},
				#{orderCount},
				#{orderPay} * #{orderCount}
				
			)
	</insert>
	<!-- 나의 주문내역 가져오기 (품명 코드 별)-->
	<select id="orderList"
				parameterType="com.yb.banking.vo.UserOrder"
				resultType="com.yb.banking.vo.UserOrder">
			SELECT
				order_day as orderDay,
				order_number as orderNumber,
				account_number as accountNumber,
				client_id as clientId,
				item_code as itemCode,
				sum(order_count) as orderCount,
				sum(order_pay) as orderPay
			FROM
				userOrder
			WHERE
				client_id = #{clientId} 
			AND
				item_code = #{itemCode}
	</select>
	<!-- 나의 최근 주문내역 가져오기 (5개만) -->
	<select id="orderListRecent"
				parameterType="com.yb.banking.vo.UserOrder"
				resultType="com.yb.banking.vo.UserOrder">
			SELECT
				order_day as orderDay,
				order_number as orderNumber,
				account_number as accountNumber,
				client_id as clientId,
				item_code as itemCode,
				order_count as orderCount,
				order_pay as orderPay
			FROM
				userOrder
			WHERE
				client_id = #{clientId}
			ORDER BY order_day DESC
			LIMIT 0, 5
	</select>
	<!-- 전체 주문내역 가져오기 -->
	<select id="allOrderList"
				resultType="com.yb.banking.vo.UserOrder">
			SELECT
				order_day as orderDay,
				order_number as orderNumber,
				account_number as accountNumber,
				client_id as clientId,
				item_code as itemCode,
				order_count as orderCount,
				order_pay as orderPay
			FROM
				userOrder
	</select>
</mapper>